av
psutil
setuptools
openai
git+https://github.com/Ripeey/Conversation-Pyrogram
python-magic
flask
gunicorn
uvloop
lottie
telegraph
pytz
pymediainfo
Pillow
py-tgcalls
cryptg
kurigram
#pyrofork
#https://devgagan.in/wp-content/uploads/2024/06/ggnpyro.zip
convopyro
TgCrypto
pymongo
requests
imageio
imageio-ffmpeg
opencv-python-headless
python-ffmpeg
ffmpeg
yt_dlp
pytesseract
google-genai
google-generativeai
certifi
pyrogram
